.DS_Store
.env
.env.*
!.env.example

node_modules/
dist/
.astro/

reference/old_blog/_site/
reference/old_blog/.jekyll-cache/
reference/old_blog/.git/
reference/old_blog/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
